/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Element Selectors */

body {
    background-color: slategray;
}

p {
    color: white;
    font-size: 20px;
}

button {
    outline: none;
    background-color: slategray;
    color: white;
    font-size: 20px;
}
/* Class Selectors */

.outer-container {
    padding: 10px;
}

.top-bar p {
    float: right;
}